.input {
    border: none;
    border-bottom: 1px solid $purple-dark;
    border-radius: 0;
    padding: 7px 0;
    width: 100%;

    &--error {
        border-color: $red-color;
    }
}

.input:focus {
    border-bottom: 1px solid $purple-dark;
}
