.post {
    display: flex;
    flex-direction: column;

    .back {
        color: white;
        background-color: black;
        border: none;
        cursor: pointer;
        padding: 15px 30px 15px 30px;
    }
}
